<h1>Sign up form</h1>

<form action="/register" method="post">
    <input name="username" type="text" placeholder="username">
    <input name="password" type="password" placeholder="password">
    <button type="submit">Submit</button>
</form>